In [ ]:
from sklearn.neighbors import KNeighborsClassifier
x1=[7,7,3,1]
x2=[7,4,4,4]
target=['bad','bad','good','good']
features=zip(x1,x2)
features=list(features)
features

[(7, 7), (7, 4), (3, 4), (1, 4)]

In [ ]:

knn=KNeighborsClassifier(n_neighbors=3)
knn.fit(features,target)
print(knn.predict([[3,7]]))

['good']

In [ ]:
x1=[4,8,3,1]
x2=[2,8,1,3]
target=['good','bad','bad','good']
features=zip(x1,x2)
features=list(features)
features

[(4, 2), (8, 8), (3, 1), (1, 3)]

In [ ]:
knn=KNeighborsClassifier(n_neighbors=2)
knn.fit(features,target)
print(knn.predict([[3,1]]))

['bad']

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
x=[8,5,7,6]
y=[6,6,3,9]
target=['os','good','good','os']
features=zip(x,y)
features=list(features)
features

[(8, 6), (5, 6), (7, 3), (6, 9)]

In [ ]:
from sklearn import neighbors
knn=KNeighborsClassifier(n_neighbors=3)
knn.fit(features,target)
print(knn.predict([[6,9]]))

['os']

In [ ]:
import pandas as pd
df=pd.read_csv('/content/archive (7).zip')
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
from sklearn.metrics import ConfusionMatrixDisplay
print(ConfusionMatrixDisplay.from_predictions(y_test,y_pred))

NameError: ignored

In [ ]:
df.shape

In [ ]:
df.size

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isna().sum()

In [ ]:
df['species'].value_counts()

In [ ]:
X=df.iloc[:,:-1]
X

In [ ]:
Y=df.iloc[:,-1]
Y

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=40)
print(X_train.shape)
print(X_test.shape)

In [ ]:
150*.3

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train,Y_train)
Y_pred=knn.predict(X_test)
Y_pred

In [ ]:
Y_test

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test,Y_pred)*100)

In [ ]:
knn.predict([[6.5,3.0,5.2,2.0]])

In [ ]:
from sklearn.metrics import ConfusionMatrixDisplay
print(ConfusionMatrixDisplay.from_prediction(Y_test,Y_pred))

In [ ]:
import pandas as pd
df=pd.read_csv('/content/heart (1).csv')
df

In [ ]:
X=df.iloc[:,:-1]
X

In [ ]:
Y=df.iloc[:,-1]
Y

In [ ]:
df['target'].value_counts()

In [ ]:
import pandas as pd
df=pd.read_csv('/content/heart (1).csv')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(Y_test,Y_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        16
Iris-versicolor       1.00      1.00      1.00        14
 Iris-virginica       1.00      1.00      1.00        15

       accuracy                           1.00        45
      macro avg       1.00      1.00      1.00        45
   weighted avg       1.00      1.00      1.00        45